
<div class="form">
  <input type="text" [placeholder]="'Add new todo'" #todo>
  <button (click)="addTodo(todo.value)">+</button>
</div>

<div class="todo-list">
  <app-todo *ngFor="let todo of todos | todos"
            [todo]="todo"
            (statusChanged)="changeStatus($event)"
            (deleted)="delete($event)">
  </app-todo>
</div>

<div class="todo-list-done">
  <app-todo *ngFor="let todo of todos | completedTodos"
            [todo]="todo"
            (statusChanged)="changeStatus($event)"
            (deleted)="delete($event)">
  </app-todo>
</div>
